/* Set et Reset CSS */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap');

/*
  font-family: 'Roboto', sans-serif;
  font-family: 'Shrikhand', cursive;
  font weight Roboto : 100, 300, 400, 500
*/
p, h2, h3{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h2{
  font-size: 1.125rem;
  font-weight: 500;
}

h3{
  font-size: 0.813rem;
  font-weight: 500;
}

a{
  text-decoration: none;
  &:visited{
  text-decoration: none;
  }
}

body{
  margin: 0;
}

// Colors
$color-first:#9356dc;
$color-second: #ff79da;
$color-third: #99e2d0;
$color-second-light: #f6edfe;

$color-footer: #353535;
$color-fonctionnement: #f6edfe;

$color-light-gray: #eaeaea;
$color-medium-gray: #f6f6f6;
$color-dark-gray: #707070;
$color-shadow-gray: #aaaaaa;

// Size
$size-border:1rem;
$size-loader:3rem;

// Keyframes
@keyframes spin{
  0%{
      transform: rotate(0turn);
  }
  100%{
      transform: rotate(1turn);
  }
}

@keyframes color {
  0%{
      color: $color-medium-gray;
  }
  50%{
      color: $color-dark-gray;  
  }
  100%{
      color: $color-medium-gray;
  }
}

@keyframes fade_out{
  0%{
      opacity: 1;
  }
  50%{
      opacity: 0.5;
  }
  100%{
      opacity: 0;
      display: none;
  }
}

@keyframes fade_in{
  0%{
      opacity: 0;
  }
  50%{
      opacity: 0.5;
  }
  100%{
      opacity: 1;
  }
}


//Loading Spinner
.loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $size-loader*4;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    animation: fade_out 500ms ease-in 500ms forwards;
    &__spinner{
      border: $size-border solid $color-medium-gray;
      border-top: $size-border solid $color-dark-gray;
      border-radius: 50%;
      width: $size-loader;
      height: $size-loader;
      animation: spin 1s linear infinite;
  }
  &__ico{
    font-size: $size-loader/1.5;
    padding-top: $size-border;
    color: $color-footer;
    animation: color 3s ease-in-out infinite;
}
}

main{
    opacity: 0;
    animation: fade_in 500ms ease-in forwards;
}

/* Header */
/* Div Logo */
.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0rem;
  padding-top: 1.438rem;
  padding-bottom: 0.375rem;
  h1{
    font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
    font-size: 1.438rem;
    margin: 0rem;
  }
}

.location{
  height: 3.125rem;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* Degradé lineaire selon une droite horizontale, qui laisse 0.01 rem pour la couleurnla plus sombre (en haut de la box) et le reste pour la couleur la plus claire */
  background: linear-gradient(180deg,$color-shadow-gray, 0.01rem, $color-light-gray);
  > p{
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0rem 0rem 0rem 1.125rem;
  }  
}

.explain{
  background-color: $color-medium-gray;
  padding-top: 2.75rem;
  padding-bottom: 3.563rem;
  >h2{
    text-align: center;
    margin: 0 4.063rem;
  }
  p{
    font-size: 0.875rem;
    font-weight: 300;
    text-align: center;
    margin: 1.25rem 2.5rem 2.5rem 1.938rem;
  }
}

.explore{
  display: flex;
  justify-content: center;
  >a{
    border-radius: 1.25rem;
    font-size: 0.75rem;
    color: #fff;
    background: linear-gradient(180deg, $color-second,  $color-first);
    box-shadow: 0rem 0.15rem 0.5rem $color-shadow-gray;
    p{
      font-size: 0.75rem;
      margin: 1.25em 1.438rem;
      font-weight: 500;
    }
  }
}

// Main, nav
//Fonctionnement

.main__margin{
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.fonctionnement{
  margin-top: 3.25rem;
  margin-bottom: 4.45rem;
  // margin: 3.25rem 1.25rem 4.25rem 1.25rem;
  h2{
    margin-bottom: 0.625rem;
  }
  &__details{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.813rem;
    font-weight: 500rem;
    margin-top: 1.25rem;
  }
  &__border{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:$color-medium-gray;
    border-radius: 25rem;
    width: 100%;
    box-shadow: 0rem 0.15rem 0.5rem $color-shadow-gray;
    margin-left: -0.75rem;
    &--color{
      background-color: $color-second-light;
    }
  }
  &__number{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    background-color: $color-first;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.625rem;
    color: #fff;
    z-index: 100;
  }
  &__texte{
    font-size: 0.813rem;
    font-weight: 500rem;
  }
}

.icon--fonctionnement{
  font-size: 1.313rem;
  margin-left: 1.375rem;
  margin-right: 1.688rem;
  color: $color-dark-gray;
  z-index: 100;
  &--color-first{
    color: $color-first;
  }
}

//Nav et présentation restaurants

nav{
  background-color: $color-medium-gray;
}

.restaurants{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurants__details{
  width: 100%;
  height: 15.625rem;
  background-color: #fff;
  border-radius: 1.25rem;
}

.restaurants__img{
  width: 100%;
  height: 10.938rem;
  overflow: hidden;
  border-radius: 1.25rem 1.25rem 0rem 0rem;
}

.restaurants__img img{
  object-fit: cover;
  box-sizing: content-box;
  width: 100%;
  border-radius: 1.25rem 1.25rem 0rem 0rem;
}

.restaurants__text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000;
  &--title{
    margin: 1.25rem 0rem 0rem 0.875rem;
  }
  &--description{
    margin: 0.625rem 0rem 0rem 0.875rem;
    font-size: 0.813;
    font-weight: 300;
  }
  >div{
    display: flex;
    flex-direction: column;
  }
}

.icon__restaurants--empty{
  padding-right: 1.5rem;
  font-size: 1.375rem;
  cursor: copy;
}

.icon__restaurants--full{
  padding-right: 1.5rem;
  font-size: 1.375rem;
  opacity: 0;
  cursor: copy;
}

.checkbox{
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  &:hover + label{
    color: $color-first;
    .icon__restaurants--empty{
      opacity: 0;
    }
    .icon__restaurants--full{
      opacity: 1;
    }
  }
  &:checked + label{
    color: $color-second;
    .icon__restaurants--empty{
      opacity: 0;
    }
    .icon__restaurants--full{
      opacity: 1;
    }
  }
  &:active + label{
    transform: scale(1.15);
  }
}

.checkmark{
  cursor: copy;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*
  Media querries
*/
/* Mobile Phone */

@media screen and (max-width: 320px){
  .logo{
    color: #000;
  }
  .body{
    width: 320px;
    margin: auto;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px){
  body{
    width: 768px;
    margin: auto;
  }
  .logo {
    color: red;
  }
}

/* Desktop */
@media screen and (min-width: 1024px){
  body{
    width: 1024px;
    margin: auto;
  }
  .logo {
    color: green;
  }
}