@charset "UTF-8";
/* Set et Reset CSS */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
/*
  font-family: 'Roboto', sans-serif;
  font-family: 'Shrikhand', cursive;
  font weight Roboto : 100, 300, 400, 500
*/
p, h2, h3 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 1.125rem;
  font-weight: 500;
}

h3 {
  font-size: 0.813rem;
  font-weight: 500;
}

h4 {
  font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

body {
  margin: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@-webkit-keyframes apparition {
  0% {
    -webkit-transform-origin: center right;
            transform-origin: center right;
  }
  20% {
    -webkit-transform-origin: center right;
            transform-origin: center right;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: center right;
            transform-origin: center right;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    -webkit-transform-origin: center right;
            transform-origin: center right;
  }
  20% {
    -webkit-transform-origin: center right;
            transform-origin: center right;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: center right;
            transform-origin: center right;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes translation {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes translation {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes reduction {
  0% {
    -webkit-transform-origin: center left;
            transform-origin: center left;
    width: 100%;
    -webkit-transition: width;
    transition: width;
  }
  100% {
    -webkit-transform-origin: center left;
            transform-origin: center left;
    width: 85%;
    -webkit-transition: width;
    transition: width;
  }
}

@keyframes reduction {
  0% {
    -webkit-transform-origin: center left;
            transform-origin: center left;
    width: 100%;
    -webkit-transition: width;
    transition: width;
  }
  100% {
    -webkit-transform-origin: center left;
            transform-origin: center left;
    width: 85%;
    -webkit-transition: width;
    transition: width;
  }
}

@-webkit-keyframes color {
  0% {
    color: #f6f6f6;
  }
  50% {
    color: #707070;
  }
  100% {
    color: #f6f6f6;
  }
}

@keyframes color {
  0% {
    color: #f6f6f6;
  }
  50% {
    color: #707070;
  }
  100% {
    color: #f6f6f6;
  }
}

@-webkit-keyframes fade_out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade_in_ico {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes fade_in_ico {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn > a {
  border-radius: 1.25rem;
  font-size: 0.75rem;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da, #9356dc);
  -webkit-box-shadow: 0rem 0.15rem 0.5rem #aaaaaa;
          box-shadow: 0rem 0.15rem 0.5rem #aaaaaa;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

.btn > a p {
  font-size: 0.75rem;
  margin: 1.25em 1.438rem;
  font-weight: 500;
}

.btn > a:hover, .btn > a:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn__commande {
  margin-top: 2.25rem;
  margin-bottom: 5.188rem;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15rem;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  -webkit-animation: fade_out 1s ease-in 1s forwards;
          animation: fade_out 1s ease-in 1s forwards;
}

.loader__spinner {
  border: 1rem solid #f6f6f6;
  border-top: 1rem solid #707070;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.loader__ico {
  font-size: 2rem;
  padding-top: 1rem;
  color: #353535;
  -webkit-animation: color 3s ease-in-out infinite;
          animation: color 3s ease-in-out infinite;
}

.main__fade-in {
  opacity: 0;
  -webkit-animation: fade_in 1s 2s ease-in forwards;
          animation: fade_in 1s 2s ease-in forwards;
}

/* Header */
/* Div Logo */
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem;
  padding-top: 1.438rem;
  padding-bottom: 0.375rem;
  color: #000;
}

.logo h1 {
  font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
  font-size: 1.438rem;
  margin: 0rem;
}

.logo__grid--title {
  -ms-grid-column: 2;
  grid-column: 2;
}

.logo__grid--icon {
  -ms-grid-column: 1;
  grid-column: 1;
  padding-right: 70%;
}

.logo__restaurants {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.location {
  height: 3.125rem;
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Degradé lineaire selon une droite horizontale, qui laisse 0.01 rem pour la couleurnla plus sombre (en haut de la box) et le reste pour la couleur la plus claire */
  background: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), color-stop(0.01rem), to(#eaeaea));
  background: linear-gradient(180deg, #aaaaaa, 0.01rem, #eaeaea);
}

.location > p {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0rem 0rem 0rem 1.125rem;
}

.explain {
  background-color: #f6f6f6;
  padding-top: 2.75rem;
  padding-bottom: 3.563rem;
}

.explain > h2 {
  text-align: center;
  margin: 0 4.063rem;
}

.explain p {
  font-size: 0.875rem;
  font-weight: 300;
  text-align: center;
  margin: 1.25rem 2.5rem 2.5rem 1.938rem;
}

.main__margin {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.carte {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 16.25rem 2.5rem 1fr;
      grid-template-rows: 16.25rem 2.5rem 1fr;
}

.carte__header {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
  -ms-grid-column: 1;
  grid-column: 1;
  overflow: hidden;
}

.carte__header--img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
}

.carte__menu {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 3;
      grid-row-end: span 3;
  -ms-grid-column: 1;
  grid-column: 1;
  background-color: #f6f6f6;
  border-radius: 1.875rem 1.875rem 0rem 0rem;
}

.carte__menu--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2.188rem 0rem 2.75rem 0rem;
}

.carte__menu--title h2 {
  font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
  margin: 0rem 0rem;
}

.carte__menu--header_list {
  text-transform: uppercase;
  margin: 0rem 0rem;
}

.carte__menu--header_line {
  margin: 0.563rem 0rem 0.875rem 0rem;
  width: 2.5rem;
  border-bottom: #99e2d0 solid 0.188rem;
}

.carte__plate {
  border-radius: 0.813rem;
  background-color: #fff;
  padding-left: 0.625rem;
  margin-bottom: 0.875rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85% 15%;
      grid-template-columns: 85% 15%;
  -ms-grid-rows: 2.188rem 2.188rem;
      grid-template-rows: 2.188rem 2.188rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation: fade-in 2s linear forwards;
          animation: fade-in 2s linear forwards;
  -webkit-box-shadow: 0rem 0.15rem 0.5rem #aaaaaa;
          box-shadow: 0rem 0.15rem 0.5rem #aaaaaa;
}

.carte__plate--title {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  font-size: 0.813rem;
  font-weight: 500;
  margin: 1rem 0rem 0rem 0rem;
}

.carte__plate--description {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  font-size: 0.688rem;
  color: #202020;
  margin: 0rem 0rem 1rem 0rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.carte__plate--price {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 2;
      grid-column-start: 2;
  font-size: 0.688rem;
  font-weight: 500;
  color: #353535;
  margin: 0rem 0rem 1rem 0rem;
  padding-right: 0.625rem;
  text-align: right;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.carte__plate--selector {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
  -ms-grid-column: 2;
      grid-column-start: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background-color: #99e2d0;
  color: #fff;
  font-size: 1.75rem;
  border-radius: 0rem 0.813rem 0.813rem 0rem;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  opacity: 0;
  overflow: hidden;
  -webkit-transform-origin: center right;
          transform-origin: center right;
}

.carte__plate:hover, .carte__plate:active {
  cursor: pointer;
}

.carte__plate:hover > .carte__plate--selector {
  -webkit-animation: apparition 300ms ease-in-out forwards;
          animation: apparition 300ms ease-in-out forwards;
}

.carte__plate:hover > .carte__plate--selector > i {
  -webkit-animation: spin 500ms ease-in-out forwards;
          animation: spin 500ms ease-in-out forwards;
}

.carte__plate:hover > .carte__plate--price {
  -webkit-animation: translation 300ms ease-in-out forwards;
          animation: translation 300ms ease-in-out forwards;
}

.carte__plate:active > .carte__plate--selector {
  -webkit-animation: apparition 300ms ease-in-out forwards;
          animation: apparition 300ms ease-in-out forwards;
}

.carte__plate:active > .carte__plate--selector > i {
  -webkit-animation: spin 500ms ease-in-out forwards;
          animation: spin 500ms ease-in-out forwards;
}

.carte__plate:active > .carte__plate--price {
  -webkit-animation: translation 300ms ease-in-out forwards;
          animation: translation 300ms ease-in-out forwards;
}

.carte__plate:hover > .carte__plate--description {
  -webkit-animation: reduction 300ms ease-in-out forwards;
          animation: reduction 300ms ease-in-out forwards;
}

.carte__plate:active > .carte__plate--description {
  -webkit-animation: reduction 300ms ease-in-out forwards;
          animation: reduction 300ms ease-in-out forwards;
}

.carte__fade-in--entrees .carte__plate, .carte__fade-in--entrees .carte__menu--header_fade {
  opacity: 0;
}

.carte__fade-in--entrees .carte__plate:nth-child(1), .carte__fade-in--entrees .carte__menu--header_fade:nth-child(1) {
  -webkit-animation: fade_in 1s ease-in 300ms forwards;
          animation: fade_in 1s ease-in 300ms forwards;
}

.carte__fade-in--entrees .carte__plate:nth-child(2), .carte__fade-in--entrees .carte__menu--header_fade:nth-child(2) {
  -webkit-animation: fade_in 1s ease-in 600ms forwards;
          animation: fade_in 1s ease-in 600ms forwards;
}

.carte__fade-in--entrees .carte__plate:nth-child(3), .carte__fade-in--entrees .carte__menu--header_fade:nth-child(3) {
  -webkit-animation: fade_in 1s ease-in 900ms forwards;
          animation: fade_in 1s ease-in 900ms forwards;
}

.carte__fade-in--entrees .carte__plate:nth-child(4), .carte__fade-in--entrees .carte__menu--header_fade:nth-child(4) {
  -webkit-animation: fade_in 1s ease-in 1200ms forwards;
          animation: fade_in 1s ease-in 1200ms forwards;
}

.carte__fade-in--entrees .carte__plate:nth-child(5), .carte__fade-in--entrees .carte__menu--header_fade:nth-child(5) {
  -webkit-animation: fade_in 1s ease-in 1500ms forwards;
          animation: fade_in 1s ease-in 1500ms forwards;
}

.carte__fade-in--plats .carte__plate, .carte__fade-in--plats .carte__menu--header_fade {
  opacity: 0;
}

.carte__fade-in--plats .carte__plate:nth-child(1), .carte__fade-in--plats .carte__menu--header_fade:nth-child(1) {
  -webkit-animation: fade_in 1s ease-in 1800ms forwards;
          animation: fade_in 1s ease-in 1800ms forwards;
}

.carte__fade-in--plats .carte__plate:nth-child(2), .carte__fade-in--plats .carte__menu--header_fade:nth-child(2) {
  -webkit-animation: fade_in 1s ease-in 2100ms forwards;
          animation: fade_in 1s ease-in 2100ms forwards;
}

.carte__fade-in--plats .carte__plate:nth-child(3), .carte__fade-in--plats .carte__menu--header_fade:nth-child(3) {
  -webkit-animation: fade_in 1s ease-in 2400ms forwards;
          animation: fade_in 1s ease-in 2400ms forwards;
}

.carte__fade-in--plats .carte__plate:nth-child(4), .carte__fade-in--plats .carte__menu--header_fade:nth-child(4) {
  -webkit-animation: fade_in 1s ease-in 2700ms forwards;
          animation: fade_in 1s ease-in 2700ms forwards;
}

.carte__fade-in--plats .carte__plate:nth-child(5), .carte__fade-in--plats .carte__menu--header_fade:nth-child(5) {
  -webkit-animation: fade_in 1s ease-in 3000ms forwards;
          animation: fade_in 1s ease-in 3000ms forwards;
}

.carte__fade-in--desserts .carte__plate, .carte__fade-in--desserts .carte__menu--header_fade {
  opacity: 0;
}

.carte__fade-in--desserts .carte__plate:nth-child(1), .carte__fade-in--desserts .carte__menu--header_fade:nth-child(1) {
  -webkit-animation: fade_in 1s ease-in 3300ms forwards;
          animation: fade_in 1s ease-in 3300ms forwards;
}

.carte__fade-in--desserts .carte__plate:nth-child(2), .carte__fade-in--desserts .carte__menu--header_fade:nth-child(2) {
  -webkit-animation: fade_in 1s ease-in 3600ms forwards;
          animation: fade_in 1s ease-in 3600ms forwards;
}

.carte__fade-in--desserts .carte__plate:nth-child(3), .carte__fade-in--desserts .carte__menu--header_fade:nth-child(3) {
  -webkit-animation: fade_in 1s ease-in 3900ms forwards;
          animation: fade_in 1s ease-in 3900ms forwards;
}

.carte__fade-in--desserts .carte__plate:nth-child(4), .carte__fade-in--desserts .carte__menu--header_fade:nth-child(4) {
  -webkit-animation: fade_in 1s ease-in 4200ms forwards;
          animation: fade_in 1s ease-in 4200ms forwards;
}

.carte__fade-in--desserts .carte__plate:nth-child(5), .carte__fade-in--desserts .carte__menu--header_fade:nth-child(5) {
  -webkit-animation: fade_in 1s ease-in 4500ms forwards;
          animation: fade_in 1s ease-in 4500ms forwards;
}

.fonctionnement {
  margin-top: 3.25rem;
  margin-bottom: 4.45rem;
}

.fonctionnement h2 {
  margin-bottom: 0.625rem;
}

.fonctionnement__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.813rem;
  font-weight: 500;
  margin-top: 1.25rem;
}

.fonctionnement__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  border-radius: 25rem;
  width: 100%;
  -webkit-box-shadow: 0rem 0.15rem 0.5rem #aaaaaa;
          box-shadow: 0rem 0.15rem 0.5rem #aaaaaa;
  margin-left: -0.75rem;
}

.fonctionnement__border--color {
  background-color: #f6edfe;
}

.fonctionnement__number {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  background-color: #9356dc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.625rem;
  color: #fff;
  z-index: 100;
}

.fonctionnement__texte {
  font-size: 0.813rem;
  font-weight: 500;
}

.icon--fonctionnement {
  font-size: 1.313rem;
  margin-left: 1.375rem;
  margin-right: 1.688rem;
  color: #707070;
  z-index: 100;
}

.icon--fonctionnement--color-first {
  color: #9356dc;
}

nav {
  background-color: #f6f6f6;
  padding-bottom: 2.875rem;
}

nav h2 {
  padding-top: 3.75rem;
  margin-bottom: 1.688rem;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants__details {
  width: 100%;
  max-width: 20.938rem;
  height: 15.625rem;
  background-color: #fff;
  border-radius: 1.25rem;
  margin-bottom: 1.125rem;
  -webkit-box-shadow: 0rem 0.15rem 0.5rem #aaaaaa;
          box-shadow: 0rem 0.15rem 0.5rem #aaaaaa;
}

.btn__nouveau {
  width: 5rem;
  height: 1.875rem;
  position: relative;
  top: -90%;
  right: -70%;
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.9;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

.btn__nouveau p {
  color: #008766;
  font-size: 0.563rem;
  font-weight: 500;
}

.btn__nouveau:hover, .btn__nouveau:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.restaurants__img {
  width: 100%;
  height: 10.938rem;
  overflow: hidden;
  border-radius: 1.25rem 1.25rem 0rem 0rem;
}

.restaurants__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
  border-radius: 1.25rem 1.25rem 0rem 0rem;
}

.restaurants__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.restaurants__text div:first-child {
  width: 100%;
}

.restaurants__text div:first-child a:visited {
  color: #000;
}

.restaurants__text--title {
  margin: 1.25rem 0rem 0rem 0.875rem;
}

.restaurants__text--description {
  margin: 0.625rem 0rem 0rem 0.875rem;
  font-size: 0.813rem;
  font-weight: 300;
}

.restaurants__text > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icon__restaurants--empty {
  font-size: 1.375rem;
  cursor: copy;
}

.icon__restaurants--full {
  font-size: 1.375rem;
  opacity: 0;
  cursor: copy;
  position: relative;
  top: 50%;
  right: 50%;
}

.checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox + label {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 150ms ease-in;
  transition: -webkit-transform 150ms ease-in;
  transition: transform 150ms ease-in;
  transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
}

.checkbox:hover + label {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.checkbox:hover + label .icon__restaurants--empty {
  opacity: 1;
  color: #4d4d4d;
  text-shadow: 0.15rem 0.15rem 0.1rem #aaaaaa;
}

.checkbox:hover + label .icon__restaurants--full {
  opacity: 0.5;
}

.checkbox:checked + label {
  color: #9356dc;
}

.checkbox:checked + label .icon__restaurants--full {
  -webkit-animation: fade_in_ico 300ms ease-in forwards;
          animation: fade_in_ico 300ms ease-in forwards;
}

.checkbox:checked + label .icon__restaurants--empty {
  opacity: 1;
}

.checkbox:active + label {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.checkbox:active + label .icon__restaurants--empty {
  opacity: 1;
  color: #4d4d4d;
  text-shadow: 0.15rem 0.15rem 0.1rem #aaaaaa;
}

.checkbox:active + label .icon__restaurants--full {
  opacity: 0.5;
}

.checkbox:not(:checked) + label {
  color: #000;
}

.checkbox:not(:checked) + label .icon__restaurants--empty {
  opacity: 1;
}

.checkbox:not(:checked) + label .icon__restaurants--full {
  opacity: 0;
}

.checkmark {
  cursor: copy;
  height: auto;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background-color: #353535;
  color: #fff;
  padding-bottom: 2.375rem;
}

footer > h4 {
  color: #fff;
  margin: 0rem 0rem 1.688rem 1.583rem;
  padding-top: 1.688rem;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:visited {
  text-decoration: none;
  color: #fff;
}

footer a p {
  display: inline;
}

footer div {
  margin-left: 1.563rem;
  margin-bottom: 0.875rem;
  font-size: 0.813rem;
}

.footer__icon {
  padding-right: 0.75rem;
}

.footer__icon--position {
  margin-right: 0.438rem;
}

/*
  Media querries
*/
/* Mobile Phone */
@media screen and (max-width: 320px) {
  .logo {
    color: #000;
  }
  .body {
    width: 320px;
    margin: auto;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    width: 768px;
    margin: auto;
    background-color: #eaeaea;
  }
  .logo {
    background-color: #fff;
    border-radius: 1.875rem 1.875rem 0rem 0rem;
  }
  .logo__restaurants {
    background-color: #fff;
    border-radius: 1.875rem 1.875rem 0rem 0rem;
  }
  .carte {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr;
        grid-template-columns: 2fr;
    -ms-grid-rows: 25.813rem 2.5rem 1fr;
        grid-template-rows: 25.813rem 2.5rem 1fr;
  }
  .carte__header {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
        grid-row-end: span 2;
    -ms-grid-column: 1;
    grid-column: 1;
    overflow: hidden;
  }
  .carte__header--img {
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 100%;
  }
  .fonctionnement {
    width: 50%;
    margin: auto;
  }
  .restaurants__img {
    width: 100%;
    overflow: hidden;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
  }
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .restaurants__details {
    margin: 0rem 1rem 1rem 1rem;
    width: 15.625rem;
    height: 15.625rem;
  }
  .btn__nouveau {
    right: -60%;
  }
  .carte__fade-in {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-column-gap: 0.5rem;
    grid-auto-flow: column;
  }
  .carte__fade-in--entrees {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .carte__fade-in--plats {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .carte__fade-in--desserts {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  footer {
    border-radius: 0rem 0rem 1.875rem 1.875rem;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  body {
    width: 1024px;
    margin: auto;
    background-color: #eaeaea;
  }
  #body__background-resp--index {
    background-color: #fff;
  }
  .logo {
    background-color: #fff;
    border-radius: 1.875rem 1.875rem 0rem 0rem;
  }
  .logo__restaurants {
    background-color: #fff;
    border-radius: 1.875rem 1.875rem 0rem 0rem;
  }
  .fonctionnement {
    width: 38%;
    margin: auto;
  }
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .carte {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr;
        grid-template-columns: 2fr;
    -ms-grid-rows: 34.375rem 2.5rem 1fr;
        grid-template-rows: 34.375rem 2.5rem 1fr;
  }
  .carte__header {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
        grid-row-end: span 2;
    -ms-grid-column: 1;
    grid-column: 1;
    overflow: hidden;
  }
  .carte__header--img {
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 100%;
  }
  .carte__fade-in {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 4.375rem 4.375rem 4.375rem 4.375rem 4.375rem;
        grid-template-rows: 4.375rem 4.375rem 4.375rem 4.375rem 4.375rem;
    grid-column-gap: 2rem;
    grid-auto-flow: column;
  }
  .carte__fade-in--entrees {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .carte__fade-in--plats {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .carte__fade-in--desserts {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  footer {
    border-radius: 0rem 0rem 1.875rem 1.875rem;
  }
}
/*# sourceMappingURL=style.css.map */